<header class="bg-purple">
  <nav class="flex justify-around container mx-auto py-5 w-full">
    <figure class="logo">
      <!-- <a href="#"><img src="" alt="Station Games" /></a> -->
      <h2 class="text-white font-['Poppins'] !mb-0">Station Games</h2>
    </figure>
    <ul class="flex gap-12 items-center">
      <a href="#"
        ><li class="text-white uppercase font-['Poppins']">Store</li></a
      >
      <a href="#"
        ><li class="text-white uppercase font-['Poppins']">Console</li></a
      >
      <a href="#"
        ><li class="text-white uppercase font-['Poppins']">Community</li></a
      >
    </ul>
    <div class="search-games bg-purple-bright rounded-md">
      <i class="fa-solid fa-magnifying-glass fa-inverse p-2"></i>
      <input
        type="text"
        class="bg-purple-bright font-['Poppins'] text-white outline-0 border-transparent placeholder:text-white"
        placeholder="Search for games..."
      />
    </div>
  </nav>
</header>
