<header>
  <nav class="flex justify-around container mx-auto py-5 w-full">
    <figure class="logo">
      <!-- <a href="#"><img src="" alt="Station Games" /></a> -->
      <h2 class="text-white font-['Poppins'] !mb-0">Station Games</h2>
    </figure>
    <ul class="flex gap-12 items-center">
      <a href="#"
        ><li class="text-white uppercase font-['Poppins']">Store</li></a
      >
      <a href="#"
        ><li class="text-white uppercase font-['Poppins']">Console</li></a
      >
      <a href="#"
        ><li class="text-white uppercase font-['Poppins']">Community</li></a
      >
    </ul>
    <div class="search-games bg-purple-bright rounded-md">
      <i class="fa-solid fa-magnifying-glass fa-inverse p-3"></i>
      <input
        type="text"
        class="bg-purple-bright font-['Poppins'] text-white outline-0 border-transparent placeholder:text-white"
        placeholder="Search for games..."
      />
    </div>
  </nav>
</header>
<main class="top-games mb-5 mt-10">
  <article class="flex justify-evenly container mx-auto">
    <figure class="w-full">
      <swiper
        [slidesPerView]="2"
        [spaceBetween]="25"
        [autoplay]="{
          delay: 2500,
          disableOnInteraction: false
        }"
        (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange()"
      >
        <ng-template swiperSlide *ngFor="let game of games">
          <img
            [src]="game.background_image"
            class="h-96 w-full rounded-lg object-cover"
            alt="Top Games"
          />
        </ng-template>
      </swiper>
    </figure>
  </article>
</main>
